<div class="forecast">
    <div class="forecast__wrapper fullsection maxwidth flexcolcenter">
        <div class="forecast__grid">
            <h3>FORECASTS:</h3>
            <div class="apicall">
                <div class="apicall__wrapper">
                    <h4>Obtain the 15-day forecast for Minneapolis, MN via latitude / longitude, with a midnight-to-midnight output format.</h4>
                    <pre>
    import AerisWeather from '@aerisweather/javascript-sdk';
    window.addEventListener('load', () => {
    
        const aeris = new AerisWeather('KIP_ID', 'KIP_SECRET');

        const request = aeris.api();
        request.endpoint('forecasts');
        request.place('44.977753, -93.265015');
        request.limit(15);
        request.filter('daynight');
        request.get().then((result) => {
            const data = result.data[0];
            console.log(data);
        });
    
    });
</pre>
                </div>
            </div>
            <div class="apicall">
                <div class="apicall__wrapper">
                    <h4>Obtain the 15-day forecast for Minneapolis, MN, limiting the results to the date, weather and max temperature in Fahrenheit.</h4>
                    <pre>
import AerisWeather from '@aerisweather/javascript-sdk';
window.addEventListener('load', () => {

    const aeris = new AerisWeather('KIP_ID', 'KIP_SECRET');

    const request = aeris.api();
    request.endpoint('forecasts');
    request.place('44.977753, -93.265015');
    request.limit(15);
    request.filter('daynight');
    request.get().then((result) => {
        const data = result.data[0];
        console.log(data);
    });

});
</pre>
                </div>
            </div>
            <div class="apicall">
                <div class="apicall__wrapper">
                    <h4>Obtain the forecast for this weekend (Saturday / Sunday) for New York, NY.</h4>
                    <pre>
import AerisWeather from '@aerisweather/javascript-sdk';
window.addEventListener('load', () => {

    const aeris = new AerisWeather('KIP_ID', 'KIP_SECRET');

    const request = aeris.api();
    request.endpoint('forecasts');
    request.place('new+york,ny');
    request.from('saturday');
    request.to('sunday');
    request.get().then((result) => {
        const data = result.data[0].periods;
        console.log(data);
    });

});
</pre>
                </div>
            </div>
            <h3>HISTORICAL:</h3>
            <div class="apicall">
                <div class="apicall__wrapper">
                    <h4>Obtain the historical conditions in hourly format for Minneapolis, MN on March 3, 2020.</h4>
                    <pre>
import AerisWeather from '@aerisweather/javascript-sdk';

window.addEventListener('load', () => {
    const aeris = new AerisWeather('KIP_ID', 'KIP_SECRET');
    const request = aeris.api();
    request.endpoint('conditions');
    request.place('minneapolis,mn');
    request.filter('daynight');
    request.from('03/03/2020');
    request.to('+24hour');
    request.get().then((result) => {
        const data = result.data[0];
        console.log(data);
    });

});
</pre>
                </div>
            </div>
            <div class="apicall">
                <div class="apicall__wrapper">
                    <h4>Obtain the historical in daily summary format for Minneapolis, MN on March 3, 2020.</h4>
                    <pre>
import AerisWeather from '@aerisweather/javascript-sdk';

window.addEventListener('load', () => {
    const aeris = new AerisWeather('KIP_ID', 'KIP_SECRET');
    const request = aeris.api();
    request.endpoint('conditions/summary');
    request.place('minneapolis,mn');
    request.filter('day');
    request.from('03/03/2020');
    request.to('03/03/2020');
    request.get().then((result) => {
        const data = result.data[0];
        console.log(data);
    });

});
</pre>
                </div>
            </div>

            <h3>ALERTS:</h3>

            <div class="apicall">
                <div class="apicall__wrapper">
                    <h4>Obtain any active advisories for Minneapolis, MN (NOTE: possible there are none).</h4>
                    <pre>
import AerisWeather from '@aerisweather/javascript-sdk';

window.addEventListener('load', () => {
    const aeris = new AerisWeather('KIP_ID', 'KIP_SECRET');
    const request = aeris.api();
    request.endpoint('alerts');
    request.place('minneapolis,mn');
    request.filter('advisory');
    request.get().then((result) => {
        const data = result.data[0];
        console.log(data);
    });

});
</pre>
                </div>
            </div>
            <div class="apicall">
                <div class="apicall__wrapper">
                    <h4>Obtain active advisories for a location verified as having an active advisory.</h4>
                    <pre>
import AerisWeather from '@aerisweather/javascript-sdk';

window.addEventListener('load', () => {
    const aeris = new AerisWeather('KIP_ID', 'KIP_SECRET');
    const request = aeris.api();
    request.endpoint('alerts');
    request.place('missoula,mt');
    request.filter('advisory');
    request.get().then((result) => {
        const data = result.data[0];
        console.log(data);
    });

});
</pre>
                </div>
            </div>
        </div>
    </div>
</div>