:root {
    --black: #222222;
    --white: #FFFFFF;
    --basefontcolor: var(--black);
}

body {
    color: var(--basefontcolor)
}

.siteheader,
.sitefooter {
    color: var(--white);
    background-color: var(--black);
}